
{% extends 'layout.html' %}
{% block page_title %}About My KDE{% endblock %}
{% block body %}
{% block before_about_bid %}{% endblock %}
<div class="bid box about">
  <h3>Technical Assistance</h3>
  <p>
    For any issue or request regarding your 'My KDE' account, such as merging accounts or fixing an
    invalid email address, get in touch with sysadmin at kde.org. We will help you right away!
  </p>
</div>{% block after_about_bid %}{% endblock %}
{% endblock %}
