
{% extends 'layout.html' %}
{% block page_title %}Privacy Policy{% endblock %}
{% block privacy_policy_banner %}{% endblock %}
{% block body %}
<div>
  <h1>Privacy Policy</h1>
  <p>
    Before you continue to use our service, please read and agree
    to <a href="/privacy-policy" target="_blank">our Privacy Policy</a>
    (the link opens in a new tab).
  </p>
  <form role="login" action="" method="POST">
    {% csrf_token %}
    {{ form.next_url }}
    <fieldset>
        <div class="form-check">
            {{ form.agree }}
            <label for="{{ form.agree.id_for_label }}">I have read and agree to the privacy policy as linked above.</label>
        </div>
         <button class="btn btn-success" type="submit">Submit &amp; Continue</button>{% if may_skip and form.next_url.value %}<a class="button btn-warning" style="margin-left: 1em" href="{{ form.next_url.value }}">» Skip for now</a>{% endif %}
    </fieldset>
  </form>
  <h2 class="mt-2">Our policy in three points</h2>
  <ul>
    <li>We value your privacy.</li>
    <li>
      We only ask for personal information needed to run this service,
      namely your full name, email address, and nickname.
    </li>
    <li>
      We will not share your personal information with third parties,
      unless you use KDE Identity to log in at a third-party website.
    </li>
  </ul>
  <p class="note">
    Note that these three points do not consistute a legally binding text. For that,
    read our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
  </p>
</div>
{% endblock %}
