
{% extends 'layout.html' %}
{% block page_title %}Registration{% endblock %}
{% block body %}
<div class="row id">
  <div class="col-md-6 col-md-push-3">
    <div class="box">
      <h2>Thank you for registering!</h2>
      <p>
        We have sent you an email with instructions to choose a password. This way we are 100%
        sure you have a valid email address, and you're really you.
        
      </p>
      <p>Please check your inbox for an email from {{ settings.DEFAULT_FROM_EMAIL }}.</p>
    </div>
  </div>
</div>{% endblock %}