
{% extends "email_layout.html" %}
{% block body %}
<h1>Confirm your KDE Identity email</h1>
<p>Hi {{ user.full_name|default:user.email_to_confirm }}!</p>
<p>
  You have received this message because your email address
  <strong>{{ user.email_to_confirm }}</strong> has been registered on KDE Identity.
  Click the button below to confirm it was really you.
  
</p>
<p><a href="{{ url }}" style="background-color: #fff;border-radius: 3px;box-shadow: #48b936 0px 0px 0px 2px inset;color: #48b936;display: block;margin-left: auto;margin-right: auto;max-width: 200px;padding: 7px 20px;text-align: center;text-decoration: none;">Confirm Email</a></p>
<p>
  Note that this link will be valid for only 12 hours.
  
</p>{% endblock %}