
{% extends 'layout.html' %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-md-push-2">
    <div class="box bid error-page">
      {% block errorbody %}
      {% endblock %}
    </div>
  </div>
</div>{% endblock %}