
{% extends 'bid_main/confirm_email/form.html' %}
{% block confirm_email_above_form %}
<h1 class="text-danger">Invalid Request</h1>
<p>Somehow there was a mismatch between the link we sent and the link you visited just now.</p>
<p>Let's try it again.</p>{% endblock %}