
{% load static %}
{% load flatpages %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Home{% endblock %} - KDE Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KDE Accounts is a unified login system for all services around KDE.">
    <meta name="author" content="Blender Foundation, KDE">
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.kde.org/aether-devel/aether-kde-org.css" rel="stylesheet">
    <script src="https://cdn.kde.org/aether-devel/bootstrap.js" defer=""></script>
  </head>
  <body>
    {% block modal %}
    {% endblock %}

    {% block navigation_header %}
      {% include "_navbar.html" %}
    {% endblock navigation_header %}

    {% block header %} {% endblock %}

    <div class="alert alert-danger container">
      This is a test instance. Please don't use it and use <a href="https://identity.kde.org">KDE Identity</a> instead.
      Interested in the development of this application, join us in #kde-www or <a href="https://community.kde.org/Telegram#Development">Telegram</a>.
    </div>

    {% for message in messages %}
    <div class="alert alert-info {{ message.tags }}">
      <div class="container">
        {{ message }}
        <button class="close" type="button" data-dismiss="alert">Close</button>
      </div>
    </div>
    {% endfor %}

    <div class="container">
      {% if user and user.must_pp_agree %}
        {% block privacy_policy_banner %}
        <div class="privacy-policy-must-agree bid box">
          <h1>Our Privacy Policy Changed</h1>
          <p>In order to continue using KDE Accounts, please accept <a href="{% url 'bid_main:privacy_policy_agree' %}">our new privacy policy</a>.</p>
        </div>
        {% endblock %}
      {% endif %}
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-md-10">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    {% block footer_scripts %}{% endblock footer_scripts %}

    {% block footer %}
      {% include "_footer.html" %}
    {% endblock footer %}
  </body>
</html>
