
{% extends 'layout.html' %}
{% load markdownify %}
{% block page_title %}{{ flatpage.title }}{% endblock %}
{% block body %}
<div class="bid box flatpage">
  {{ flatpage.content | markdownify }}
  {% if perms.flatpages.change_flatpage %}
  <section class="admin-links"><a class="btn" href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}">edit this page</a></section>{% endif %}
</div>{% endblock %}